@(loginForm: Form[User0])

@import helper._

@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.render) } 

@main {
    
    <h1>Login</h1>
    
    @form(action=routes.Application.testLogin()) {
    
     @if(flash.containsKey("success")) {
        <div class="alert-message warning">
            <h3><strong>Login!</strong> @flash.get("success")</h3>
        </div>
    } 
    
     @if(flash.containsKey("info")) {
        <div class="alert-message warning">
         <h2>   <strong>Erreur!</strong> @flash.get("info")</h2>
        </div>
    } 
        
        <fieldset>
        
            @inputText(loginForm("email"), '_label -> "email", '_help -> "email utilisé pour SAV")      
            @inputText(loginForm("password"),'_label -> "password", '_help -> "mot de passe livré par SAV")
                    
        </fieldset>
        
        
        <div class="actions">
            <input type="submit" value="Login" class="btn primary"> or 
            <a href="@routes.Application.index()" class="btn">Cancel</a> 
        </div>
        
    }
    
}